# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Database and cache files
*.mdf
*.ldf
*.db
*.db-shm
*.db-wal
*.v2
*.vsidx

# Docker volumes
docker/sqldata/data/
