<div class="hotelDetails" >
    <div class="imageContainer" [class.isLoaded]="isLoaded">
      <img 
      class="image"
      src="https://images.unsplash.com/photo-1445019980597-93fa8acb246c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1174" 
      alt="hotel image" srcset="">
    </div>
    <div class="hotelInfo" [class.isLoaded]="isLoaded">
      <h2>{{ hotel?.name }}</h2>
      <div class="subDetails">
          <div class="details">
            <p><strong>Address:</strong> {{ hotel?.address }}</p>
            <p><strong>City:</strong> {{ hotel?.city }}</p>
          </div>
          <div class="details">
            <p><strong>Phone:</strong> {{ hotel?.phoneNumber }}</p>
            <p><strong>Country:</strong> {{ hotel?.country }}</p>
          </div>
      </div>
    </div>
  </div>
