a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: rgb(0, 135, 74);
    padding: 10px;
    text-decoration: none;
}
a:hover{
    color: rgb(5, 85, 44);
}