<div class="main1">
  <div class="head">
    <div class="title">Reviews</div>
  </div>
    <table>
      <thead>
        <tr>
          
          <th>Reviewer Name</th>
          <th>Comment</th>
          <th>Rating</th>
          <th>Review Date</th>
          <th>Review Time</th>
        </tr>
      </thead>
      <tbody>
        @for (review of hotel?.reviews; track review.id) {
          <tr class="hotelDetailLink" >
            <td>{{ review?.customerName }}</td>
            <td>{{ review?.comment }}</td>
            <td>{{ review?.rating | number : '1.1-1' }} ⭐</td>
            <td>{{ review?.reviewDate | date: 'dd MMM yyyy '}}</td>
            <td>{{ review?.reviewDate | date: 'hh:mm a '}}</td>
          </tr>
        }
      </tbody>
    </table>
    </div>
