
<div class="booking-container">
    @if(bookings.length){
      <div class="head">
        <div class="title">My Bookings</div>
        <div class="buttonContainer">
          
        </div>
      </div>
        @for(booking of bookings ; track $index){

            <div class="ticket-card">
              <div class="ticket-header">
                <div class="hotel-info">
                  <h3>{{ booking.hotelName }}</h3>
                  <p><i class="fa-solid fa-location-dot"></i> {{ booking.hotelAddress }}</p>
                </div>
                <div class="booking-id">
                  <span>Booking ID</span>
                  <strong>{{ booking.id }}</strong>
                </div>
              </div>
          
              <div class="timeline-section">
                <div class="date-box">
                  <span class="label">Check-In</span>
                  <div class="date-value">{{ booking.checkInDate | date:'mediumDate' }}</div>
                  <span class="time-label">12:00 PM</span>
                </div>
          
                
          
                <div class="date-box right">
                  <span class="label">Check-Out</span>
                  <div class="date-value">{{ booking.checkOutDate | date:'mediumDate' }}</div>
                  <span class="time-label">11:00 AM</span>
                </div>
              </div>
          
              <div class="divider"></div>
          
              <div class="details-grid">
                <div class="detail-item">
                  <span class="label">Room Type</span>
                  <span class="values">{{ booking.roomType }}</span>
                </div>
                <div class="detail-item">
                  <span class="label">Room No.</span>
                  <span class="value">{{ booking.roomId }}</span>
                </div>
                <div class="detail-item" >
                    <span class="label" style="text-align: end; padding-right: 2px;">Status</span>
                    <span class="value" [ngClass]="getStatusClass(booking.status)">
                      {{ getStatusText(booking.status) }}
                    </span>
                  
                  </div>
              </div>
          
              <div class="ticket-footer">
                <div class="total-label">Total Paid</div>
                <div class="total-price">{{ booking.totalAmount | currency }}</div>
              </div>
            </div>
        }
    }
    @else {
      <div class="noBookingsContainer">
        <div class="noBookingsIcon">
          <i class="fa-regular fa-calendar-xmark" style="font-size: 5rem; color: #ccc;"></i>
        </div>
      
        <div class="noBookingsText">
          <h2>No Bookings Made</h2>
          <p>You haven&apos;t made any bookings yet.</p>
          <p>Start exploring and book your first stay.</p>
        </div>
      </div>
      
    }
  
  </div>