<div class="main1">
  <div class="head">
    <div class="title">Hotels</div>
    <div class="buttonContainer">
      <button
        class="actionButton addHotelButton"
        routerLink="/admin/hotels/add"
      >
        Add Hotel
      </button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Hotel Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Phone Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (hotel of hotels; track hotel.id) {
      <tr class="hotelDetailLink">
        <td>{{ hotel.name }}</td>
        <td>{{ hotel.address }}</td>
        <td>{{ hotel.city }}</td>
        <td>{{ hotel.country }}</td>
        <td>{{ hotel.phoneNumber }}</td>
        <td class="actions">
          <div class="buttonContainer">
            <button
              class="actionButton viewHotelButton"
              (click)="goToHotelDetails(hotel.id)"
            >
              View
            </button>
          </div>
          <div class="buttonContainer">
            <button
              class="actionButton updateHotelButton"
              (click)="editHotel(hotel.id)"
            >
              Edit
            </button>
          </div>
          <div class="buttonContainer">
            <button
              class="actionButton deleteHotelButton"
              (click)="deleteHotel(hotel.id)"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
