<header>
    <nav class="headerContainer">
      <span class="logo">MyHotels</span>
      <ul class="list">
        <li class="listItem">
          <span class="navButton" routerLink="home" routerLinkActive="active">Home</span>
        </li>
        <li class="listItem">
          <span class="navButton" routerLink="hotels" routerLinkActive="active">Hotels</span>
        </li>
        <li class="listItem">
          <span class="navButton" routerLink="customers" routerLinkActive="active">Customers</span>
        </li>
      </ul>
    </nav>
  </header>
  